*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

/* Carrusel */

#carouselExample img{
    height: 500px;
}


/* Tarjetas */

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}


div {
    display: block;
    unicode-bidi: isolate;
}

body {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}


.img-tarjeta{
    border-radius: 50px;
    max-height: 50px;
    min-height: 50px;
}

.col img{
    width: 200px;
}

/* Footer */

.map{
    align-items: center;
    padding-left: 50px;
 padding-bottom: 10px;
}


footer{
    background-color: rgba(140, 163, 229, 0.737);
    display: flex;
    justify-content: center;
}

.card-body{
    background-color: rgb(166, 199, 199);
   /*  margin: 20px; */
    padding-bottom: 50px;
    
}


.card-text{
    font-size: 20px;
    font-weight: 400;
}

.card-title{
    font-weight: 600;
    color: azure;
    text-align: center;
    text-transform: calc(20);
}

p{
    text-align: center;
    font-style: italic;
    font-weight: 300;
}

a .btn btn-primary{
    background-color: aliceblue;
}


.row{
    padding: 70px;
}


.logo {
    mix-blend-mode: multiply;
}
